.sidebar {
	color: #cd5888;
	background-color: #212529;
}

.card {
	/* Цвет описания карточки ( без ссылки ) */
	/* background: linear-gradient(270deg, #f5b9ff 0%, #2b2b2b 100%); */
	color: #fff;
}

.card a {
	/* Цвет описания карточки ( ссылка ) */
	text-decoration: none;
	color: #e9e8e8;
}

.card .btn-primary {
	/* Цвет текста синей кнопки */
	color: #e9e8e8;
}

/* 
Тёмный шрифт - #212529
Белый шрифт - #fff
Серый шрифт - #adb5bd
*/

.call-anim {
	width: 160px;
}

.call-anim {
	animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}
